@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Atualizações";
    IPagedList<MidModel.ServiceModel>? UpdateList = (ViewData["Updates"] as IPagedList<MidModel.ServiceModel>);

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>Atualizações</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Versão</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"><button class="btn btn-primary edit-version" onclick="openModal()">Novo</button></th>
            </tr>
        </thead>
        <tbody>
            @if (UpdateList != null && UpdateList.Count > 0)
            {
                int i = 1;
                @foreach (var service in UpdateList)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@service.ClientName</td>
                        <td>@service.VersionName</td>
                        @switch (service.ScheduleProgress)
                        {
                            case MidModel.ScheduleProgress.Waiting:
                                {
                                    <td>Aguardando</td>
                                    break;
                                }
                            case MidModel.ScheduleProgress.Done:
                                {
                                    <td>Concluído</td>
                                    break;
                                }
                            case MidModel.ScheduleProgress.Started:
                                {
                                    <td>Iniciado</td>
                                    break;
                                }
                            case MidModel.ScheduleProgress.Error:
                                {
                                    <td>Erro</td>
                                    break;
                                }
                            default:
                                {
                                    <td>Aguardando</td>
                                    break;
                                }
                        }
                        <td><button class="btn btn-primary edit-version" onclick="openModal('@service.Id')">Editar</button></td>
                        <td><button class="btn btn-danger edit-version" onclick="excluir('@service.Id')">Excluir</button></td>
                    </tr>
                    i++;
                }
            }

        </tbody>
    </table>
    @Html.PagedListPager(UpdateList, page => Url.Action("Index", "UpdateSetup", new { Page = page }))

    <div class="modal in" tabindex="-1" role="dialog" id="edit-version">
        <div id="edit-version-container"></div>
    </div>

    <script type="text/javascript">
        function openModal(id) {
            var url = id != null ? '@Html.Raw(Updater.Helper.BaseURL.URL + "/UpdateSetup/EditUpdate/")' + id 
            : '@Html.Raw(Updater.Helper.BaseURL.URL + "/UpdateSetup/EditUpdate")';
            $('#edit-version-container').load(url,
                function () {
                    $('.modal').show(2000, function () { });
                });
        }
        function excluir(id) {
            if (confirm('Deseja realmente deletar este agendamento?')) {
                try {
                    $.ajax({
                        type: 'POST',
                        url: '@Html.Raw(Updater.Helper.BaseURL.URL + "/UpdateSetup/Delete/")' + id,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            alert(res)
                            location.reload()
                        },
                        error: function (err) {
                            alert('Erro ao tentar executar ação!' + err)
                        }
                    })
                } catch (ex) {
                    alert('Erro ao tentar executar ação!')
                }
            }
        }
    </script>
</div>