@model Updater.Models.ClientViewModel

<div class="modal-dialog" role="document" id="dialogo">
    <form asp-controller="Client" asp-action="EditClient" enctype="multipart/form-data"
          data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Deseja Continuar?" data-ajax-complete="completed">
        @Html.AntiForgeryToken();

        <style>
            .modal-content,
            .modal-dialog {
                height: calc(90vh - 100px);
                max-width: calc(99vw - 100px);
            }

            .modal-header {
                display: initial;
            }
        </style>
        <div class="modal-content text-center">
            <hr />
            <div class="modal-header">
                @if (Model.Id != Guid.Empty)
                {
                    <h3 id="myModalLabel">Editando Cliente</h3>
                }
                else
                {
                    <h3 id="myModalLabel">Criando Cliente</h3>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <label>@ViewData["error"]?.ToString() </label>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name,  new {  @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Server)
                        @Html.TextBoxFor(m => m.Server,  new {  @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.ServiceName)
                        @Html.TextBoxFor(m => m.ServiceName,  new {  @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.AppPoolName)
                        @Html.TextBoxFor(m => m.AppPoolName,  new {  @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.SiteUser)
                        @Html.TextBoxFor(m => m.SiteUser,  new {  @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.SitePass)
                        @Html.TextBoxFor(m => m.SitePass,  new { type="password", @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input input-group" type="checkbox" value="@Model.Locked" id="Locked" name="Locked"/>
                        <label class="form-check-label" for="Locked">
                            Bloquear cliente
                        </label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <div>
                    <button type="button" class="btn btn-danger" onclick="$('.modal').hide(1000)">Fechar</button>
                </div>

                @section Scripts
                    {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
            </div>
        </div>
    </form>
</div>
